<%= pagination_top %>

<table class="table table-bordered table-hover">
  <thead><%= concept("kono_utils/object/cell/index/row_header") %></thead>
  <tbody><%= concept("kono_utils/object/cell/index/row", collection: model) %></tbody>
  <tfoot><%= concept("kono_utils/object/cell/index/row_footer") %></tfoot>
</table>

<%= pagination_bottom %>